---
import { getPermalink } from "~/utils/permalinks";

const anuncios = [
  { texto: 'Horario: Lunes a Viernes de 9:00 a 15:00', url: getPermalink('/contacto') },
  { texto: 'Teléfono: +54 (011) 6547 - 6311', url: getPermalink('/contacto') },
  { texto: 'Consultoría en persona y virtualmente', url: getPermalink('/nosotros') },
  { texto: 'Email: info@steel4d.com.ar', url: getPermalink('/contacto') },
];

// Determine the backdrop class
/* const backdropClass = showToggleTheme 
  ? "bg-black/70 dark:bg-white/10" 
  : "bg-white/5"; */
---

<div class:list={['overflow-hidden relative py-2 px-4 text-sm z-50']}>
  <div class="flex animate-scroll w-max">
    {
      anuncios.map((anuncio) => (
        <a
          href={anuncio.url}
          class="mr-5  dark:hover:text-green-300 hover:text-green-600 transition-colors duration-300 text-shadow-l"
        >
          {anuncio.texto}
        </a>
      ))
    }
  </div>
</div>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll {
    animation: scroll 15s linear infinite;
  }

  .text-shadow-sm {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  }
</style>
