---
// Definición de props que recibirá el componente
const { title, description } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-5xl mx-auto px-8 sm:px-6 py-4 text-md  font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> {title} : 
    </span>
    <br />
    <span >
      {description}
    </span>
  </div>
</section>
