---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Ejemplo1 from '../assets/images/CasaAduar/Ejemplo.jpg';
import ImageCarousel from '~/components/widgets/ImageCarousel.astro';

const metadata = {
  title: 'Sobre nosotros',
};

const model3 = [
{ src: 'src/assets/images/San Martin/1.jpeg', alt: 'Proyeccion en cad' },
{ src: 'src/assets/images/San Martin/steel1.jpg', alt: 'Steel' },
]

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Sobre nosotros"
  >
    <Fragment slot="title">
      Expertos del Steel Frame
    </Fragment>

    <Fragment slot="subtitle">
      Somos un grupo de consultoria y construccion de hogares con profesionalismo y transparencia
    </Fragment>

    
  </Hero>
  
  <div>
    <p class="text-center text-lg text-gray-500 dark:text-gray-400">
      Somos un grupo de profesionales con más de 20 años de experiencia en el sector de la construcción, especializados en el sistema Steel Frame. Nuestro objetivo es brindar soluciones integrales y eficientes para la construcción de hogares y edificaciones, garantizando calidad, seguridad y rapidez en cada proyecto.
    </p>

    <ImageCarousel
      images={model3}
      />

  </div>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Nuestros logros"
    stats={[
      { title: 'Empleados', amount: '100' },
      { title: 'Trabajados', amount: ' 20 años ' },
      { title: 'Obras hechas', amount: '25' }
    ]}
  />

 

  <!-- Features3 Widget ************** -->

  <Features3
    title="Nuestros servicios"
    columns={3}
    isAfterContent={false}
  
    items={[
      {
        title: 'Consultoría Técnica',
        description:
          'Asesoramiento especializado en construcción con Steel Frame, análisis de proyectos y optimización de recursos para garantizar el éxito de tu obra.',
        icon: 'tabler:compass',
      },
      {
        title: 'Venta de Materiales',
        description:
          'Suministro completo de perfiles, paneles y accesorios para construcción en Steel Frame, con garantía de calidad y asesoramiento técnico.',
        icon: 'tabler:building-store',
      },
      {
        title: 'Dirección de Proyectos',
        description:
          'Gestión integral de proyectos constructivos, desde la planificación hasta la entrega final, asegurando cumplimiento de plazos y presupuestos.',
        icon: 'tabler:folder-open',
      },
      {
        title: 'Capacitación',
        description:
          'Programas de formación en sistemas constructivos Steel Frame para profesionales y equipos de construcción.',
        icon: 'tabler:school',
      },
      {
        title: 'Cálculo Estructural',
        description:
          'Análisis y diseño estructural especializado en Steel Frame, garantizando la seguridad y eficiencia de cada proyecto.',
        icon: 'tabler:calculator',
      },
      {
        title: 'Supervisión de Obra',
        description:
          'Control y seguimiento de obras en Steel Frame, asegurando la correcta ejecución y cumplimiento de estándares de calidad',
        icon: 'tabler:building',
      },
    ]}
    image={{
      src: Ejemplo1,
      alt: 'Colorful Image',
    }}
    
  />



  <!-- Features2 Widget ************** -->

  <Features2
    title="Nuestra ubicaciones"
    columns={3}
    items={[
      {
        title: 'Argentina',
        description: 'Urb. Buenos Aires 1234, 12345, Argentina',
      },
      {
        title: 'Uruguay',
        description: 'Montevideo 1234, 12345, Uruguay',
      },
      {
        title: 'España',
        description: '<span class="--text-muted">Proximamente ...</span>',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Soporte tecnico"
    columns={2}
    items={[
      {
        title: 'Puedes dejar un mensaje en nuestro chat', 
        description:
          'Podes enviar un mensaje y nos pondremos en contacto contigo lo antes posible.',
        icon: 'tabler:messages',
      },
      {
        title: 'Atencion al cliente',
        description:
          'Atencion al cliente entre las 9:00 y las 18:00 de lunes a viernes.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
