---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { YouTube } from 'astro-embed';
import Hero from '~/components/widgets/Hero.astro';
import { file } from 'astro/loaders';
import { getPermalink } from '~/utils/permalinks';


const metadata = {
  title: 'Steel4d - profesionalismo y agilidad en construccion de hogares',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
  actions={[
    { variant: 'primary', target: '_blank', text: 'Empecemos hoy', href: 'contact#form', icon: 'tabler:chevron-right' },
    { text: 'Saber más', href: '/services' },
  ]}
  image={{
    src : 'src/assets/images/CasaAduar/Ejemplo.jpg',
    alt: 'Casa Aduar',
    title: 'Casa Aduar',

  }}
>
  <Fragment slot="title">
    Hogar dulce hogar es algo que <span class="text-primary highlight">
      Steel 4d
    </span> te puede dar <br />
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      Steel 4d es una empresa dedicada a la construcción de hogares con profesionalismo y transparencia
    </span>
  </Fragment>
</Hero2>

<div class="container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
  <YouTube id="ukcMVKKiV7k" title="🤜🤛 STEEL FRAMING vs. WOOD FRAMING: La Batalla FINAL!" />
  <style is:inline>
    lite-youtube {
      
      margin: 0 auto;
      width: auto;
      height: 100%;
    }
  </style>
</div>
 
  <!-- Diferencias con el sistema condicional Widget *************** -->

  <Features
    id="transparencia"
    title="Que tenemos para aportar"
    subtitle="Nuestra política de transparencia es clave para establecer una comunicación abierta y honesta entre nosotros y los clientes. <br> Esto implica proporcionar información clara y precisa sobre el proceso de construcción, los materiales a utilizar, los costos involucrados y cualquier otro detalle relevante. <br> La transparencia también implica reconocer y abordar de manera proactiva cualquier problema o desafío que surja durante el proceso de construcción."
    items={[
      {
        title: 'Tiempos de construcción',
        description:
          'El steel frame permite construir hasta un <span class="text-primary highlight">70% más rápido </span> que el sistema tradicional, debido a su proceso industrializado y montaje en seco.',
        icon: 'tabler:clock',
      },
      {
        title: 'Eficiencia energética',
        description:
          'El steel frame ofrece mejor aislamiento térmico que el hormigón tradicional, reduciendo <span class="text-primary highlight">costos de calefacción y refrigeración hasta un 40%</span>.',
        icon: 'tabler:temperature',
      },
      {
        title: 'Resistencia y durabilidad',
        description:
          'El acero galvanizado del steel frame es <span class="text-primary highlight">resistente a termitas, hongos y humedad</span>, mientras que el hormigón puede sufrir grietas y filtraciones con el tiempo.',
        icon: 'tabler:shield',
      },
      {
        title: 'Impacto ambiental',
        description:
          'El steel frame es más sostenible: genera menos residuos, consume menos agua y sus materiales son <span class="text-primary highlight">100% reciclables</span>, a diferencia del sistema tradicional.',
        icon: 'tabler:leaf',
      }
    ]}
  />

  <!-- CallToAction - Para enviar un mensaje Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Enviar un mensaje ',
        href: getPermalink('/contact#form'),
        target: '_blank',
        icon: 'tabler:send',
      },
    ]}
  >
    <Fragment slot="title">
      Te gustaria una casa con <span class="text-accent dark:text-white highlight">steelframe</span> ?
    </Fragment>

    <Fragment slot="subtitle">
      no perdamos tiempo, <span class="font-semibold">Steel4d</span> te ayuda a crear tu hogar con profesionalismo y transparencia
    </Fragment>
  </CallToAction>




  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Mira nuestros mejores proyectos"
    information={`Descubre los proyectos más recientes y emocionantes de Steel4d, desde casas unifamiliares hasta edificios de departamentos y oficinas. Explora cómo el steel frame puede transformar tu hogar o negocio.
                `}
  />

  <!-- Preguntas frecuentes Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes sobre steelframe"
    subtitle="Si tienes preguntas sobre nuestros servicios de construcción con steelframe, estás en el lugar indicado. Explora las respuestas a las preguntas más frecuentes para encontrar la información que necesitas."
    columns={2}
    id="faqs"
    items={[
      {
        title: '¿Qué es el steel frame?',
        description:
          'El steel frame es un sistema constructivo que utiliza perfiles de acero galvanizado para la estructura de la vivienda, en lugar de hormigón o ladrillos.',
      },
      {
        title: '¿Cuáles son las ventajas del steel frame?',
        description:
          'El steel frame ofrece ventajas como mayor rapidez de construcción, mejor aislamiento térmico, resistencia a termitas y hongos, y menor impacto ambiental.',
      },
      {
        title: '¿Cuál es la durabilidad del steel frame?',
        description:
          'El steel frame es un sistema constructivo duradero y resistente, con una vida útil de más de 50 años si se realiza un mantenimiento adecuado.',
      },
      {
        title: '¿Cuál es el costo del steel frame?',
        description:
          'El costo del steel frame puede variar según el tamaño y la complejidad de la vivienda, pero suele ser competitivo en comparación con el sistema tradicional.',
      },
      {
        title: '¿Qué tipo de viviendas se pueden construir con steel frame?',
        description:
          'El steel frame es versátil y se puede utilizar para construir viviendas unifamiliares, edificios de departamentos, oficinas, comercios y otros tipos de construcciones.',
      },
    ]}
/>


  
</Layout>
